<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h1>BigML Result's</h1>

<table class="columns" margin-left: auto; margin-right: auto;>
  <tr style="padding-left: 2ex;">
    <th>Antecedet</th>
    <th>consequent</th>
    <th>support</th>
    <th>Confidence</th>
  </tr>
  <tr style="padding-left: 2ex;">
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Germany</td>
  </tr>
  <tr style="padding-left: 2ex;">
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>Mexico</td>
  </tr>





</table>

</body>
</html>