<div class="sidebar" data-color="purple" data-background-color="white" data-image="images/sidebar-1.jpg">

<div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
    package-tracking 
  </a></div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item active  ">
      <a class="nav-link" href="./dashboard.html">
        <i class="material-icons">dashboard</i>
        <p>information</p>
      </a>
    </li>
   
    <li class="nav-item ">
      <a class="nav-link" href="./statistics.html">
        <i class="material-icons">content_paste</i>
        <p>statistics</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="./recomendations.html">
        <i class="material-icons">library_books</i>
        <p>recomendations</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="./products.html">
        <i class="material-icons">shoping cart</i>
        <p>products</p>
      </a>
    </li>
    

  </ul>
</div>
</div>