
<!DOCTYPE html>
<html >

<head>
  <%- include("../partials/headers") %>
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      function setWs() {
        socket.on('newdata', function (msg) {
          var element = document.getElementById(msg.districtId);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
</head>

  <body class="" onload="setWs()"style="background-color:rgb(34, 34, 41);">
    <div class="wrapper ">
      <%- include("../partials/sidebar") %>
        <div class="main-panel">
          
            <div class="content">
                
                <h1 style=" color:white;  font-family:Cambria">list of the products you can order</h1>
                <div class="row" style="margin-top:50px" >

                    <b style="color:rgb(218, 224, 224); "> Headphone <br>  price:10$ </b>
                    <div style="position:absolute; width:35%; height:100%;">
                    <img src="/images/headphone.jfif" style= "float:right";  width="128" height="128" >
                    </div>

        
                </div>
                <div class="row" style="margin-top:150px">
                    <b style="color:rgb(218, 224, 224);"> smartwatch <br>  price:30$ </b>
                    <div style="position:absolute; width:35%; height:100%;">
                    <img src="/images/watch.png" style= "float:right";  width="128" height="128" >
                    </div>
                </div>

                <div class="row" style="margin-top:150px">
                    <b style="color:rgb(218, 224, 224);"> phone <br>  price:100$ </b>
                    <div style="position:absolute; width:35%; height:100%;">
                    <img src="/images/phone.jfif" style= "float:right";  width="128" height="128" >
                    </div>
                </div>

                <div class="row" style="margin-top:150px">
                    <b style="color:rgb(218, 224, 224);"> Keyboard <br>  price:5$ </b>
                    <div style="position:absolute; width:35%; height:100%;">
                    <img src="/images/keyboard.jfif" style= "float:right";  width="128" height="128" >
                    </div>
                </div>

                <div class="row" style="margin-top:150px">
                    <b style="color:rgb(218, 224, 224);"> Earphone <br>  price:7$ </b>
                    <div style="position:absolute; width:35%; height:100%;">
                    <img src="/images/earphone.jfif" style= "float:right";  width="128" height="128" >
                    </div>
                </div>

                <div class="row" style="margin-top:150px">
                    <b style="color:rgb(218, 224, 224);"> Tablet <br>  price:90$ </b>
                    <div style="position:absolute; width:35%; height:100%;">
                    <img src="/images/tablet.jfif" style= "float:right";  width="128" height="128" >
                    </div>
                </div>

                <div class="row" style="margin-top:150px">
                    <b style="color:rgb(218, 224, 224);"> Computer <br>  price:85$ </b>
                    <div style="position:absolute; width:35%; height:100%;">
                    <img src="/images/computer.jpg" style= "float:right";  width="128" height="120" >
                    </div>
                </div>

                <div class="row" style="margin-top:150px">
                    <b style="color:rgb(218, 224, 224);"> Microphone <br>  price:12$ </b>
                    <div style="position:absolute; width:35%; height:100%;">
                    <img src="/images/Microphone.jpg" style= "float:right";  width="128" height="128" >
                    </div>
                </div>

                <div class="row" style="margin-top:150px">
                  <b style="color:rgb(218, 224, 224);"> Mousepad <br>  price:10$ </b>
                  <div style="position:absolute; width:35%; height:100%;">
                  <img src="/images/Mousepad.jpg" style= "float:right";  width="128" height="128" >
                  </div>
                </div>

                <div class="row" style="margin-top:150px">
                  <b style="color:rgb(218, 224, 224);"> Auxcable <br>  price:8$ </b>
                  <div style="position:absolute; width:35%; height:100%;">
                  <img src="/images/Auxcable.jpg" style= "float:right";  width="128" height="128" >
                  </div>
                </div>

                <div class="row" style="margin-top:150px">
                  <b style="color:rgb(218, 224, 224);"> Hdmicable <br>  price:15$ </b>
                  <div style="position:absolute; width:35%; height:100%;">
                  <img src="/images/Hdmicable.jpg" style= "float:right";  width="128" height="128" >
                  </div>
                </div>

                <div class="row" style="margin-top:150px">
                  <b style="color:rgb(218, 224, 224);"> Diskonkey <br>  price:10$ </b>
                  <div style="position:absolute; width:35%; height:100%;">
                  <img src="/images/Diskonkey.jpg" style= "float:right";  width="128" height="128" >
                  </div>
                </div>

                <div class="row" style="margin-top:150px">
                  <b style="color:rgb(218, 224, 224);"> Phonecharger <br>  price:20$ </b>
                  <div style="position:absolute; width:35%; height:100%;">
                  <img src="/images/Phonecharger.jpg" style= "float:right";  width="128" height="128" >
                  </div>
                </div>

                <div class="row" style="margin-top:150px">
                  <b style="color:rgb(218, 224, 224);"> Xbox <br>  price:120$ </b>
                  <div style="position:absolute; width:35%; height:100%;">
                  <img src="/images/Xbox.jpg" style= "float:right";  width="128" height="128" >
                  </div>
                </div>

              <div class="row" style="margin-top:150px">
                <b style="color:rgb(218, 224, 224);"> Speaker <br>  price:27$ </b>
                <div style="position:absolute; width:35%; height:100%;">
                <img src="/images/Speaker.jpg" style= "float:right";  width="128" height="128" >
                </div>
              </div>

              <div class="row" style="margin-top:150px">
                <b style="color:rgb(218, 224, 224);"> Spliter <br>  price:8$ </b>
                <div style="position:absolute; width:35%; height:100%;">
                <img src="/images/Spliter.jpg" style= "float:right";  width="128" height="128" >
                </div>
              </div>

              <div class="row" style="margin-top:150px">
                <b style="color:rgb(218, 224, 224);"> Screen <br>  price:75$ </b>
                <div style="position:absolute; width:35%; height:100%;">
                <img src="/images/Screen.jpg" style= "float:right";  width="128" height="128" >
                </div>
              </div>


              <div class="row" style="margin-top:150px">
                <b style="color:rgb(218, 224, 224); "> TV <br>  price:110$ </b>
                <div style="position:absolute; width:35%; height:100%;">
                <img src="/images/TV.jpg" style= "float:right";  width="128" height="128" >
                </div>
              </div>


              <div class="row" style="margin-top:150px">
                <b style="color:rgb(218, 224, 224);"> Mouse <br>  price:14$ </b>
                <div style="position:absolute; width:35%; height:100%;">
                <img src="/images/Mouse.jpg" style= "float:right";  width="128" height="128" >
                </div>
              </div>


              <div class="row" style="margin-top:150px">
                <b style="color:rgb(218, 224, 224);"> Extender <br>  price:11$ </b>
                <div style="position:absolute; width:35%; height:100%;">
                <img src="/images/Extender.jpg" style= "float:right";  width="128" height="128" >
                </div>
              </div>



            </div>
           
        </div>
    </div>

    <%- include("../partials/dashcode") %>

    
      

    
     
  </body>

</html>