<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      function setWs() {
        socket.on('newdata', function (msg) {
          var element = document.getElementById(msg.districtId);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
</head>

<body class="" onload="setWs()" style="background-color:rgb(201, 178, 177);">
  <div class="wrapper ">
    <%- include("../partials/sidebar") %>


      <div class="main-panel">


        <div class="content">
          <div>
            <%- include("../partials/bigmlTable") %>
          </div>
        </div>

        <div style="position:absolute; width:100%; height:100%;">
          <button id="btn" style="margin-left:85%">
            Refrash Data
          </button>
        </div>

      </div>
  </div>
  <%- include("../partials/dashcode") %>
    table

    <script type="text/javascript">
      $("#btn").click(function () {
        location.reload(true);
      });
    </script>

<script>
  window.setInterval('refresh()', 45000); 

  // Refresh or reload page.
  function refresh() {
      window .location.reload();
  }
</script>
</body>

</html>